<%= form_with(model: deliverable, url: (deliverable.new_record? ? [@agreement, deliverable]: deliverable), local: true) do |form| %>
<%#= form_with(model: deliverable, local: true) do |form| %>
  <% if deliverable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deliverable.errors.count, "error") %> prohibited this deliverable from being saved:</h2>

      <ul>
      <% deliverable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%#= form.label :agreement_id %>
    <%#= form.text_field :agreement_id, class: 'form-control' %>
  </div>
  <%= form.hidden_field :agreement_id, :value => params[:agreement_id] %>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if deliverable.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', deliverable, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if deliverable.persisted? %>
      <%= link_to "Cancel", deliverable, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", agreement_path(@agreement), class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
