


<div class="row">
  <div class="col-sm-6">
    <h1>Deliverables</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_deliverable_path, class: 'btn btn-primary' do %>
    Add New Deliverable
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Document</th>
            <th>Body</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @deliverables.each do |deliverable| %>
        <%= content_tag :tr, id: dom_id(deliverable), class: dom_class(deliverable) do %>
          

                      <td><%= deliverable.document %></td>
                      <td><%= deliverable.body %></td>
          
          
            <td><%= link_to 'Show', deliverable %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
