<div class="page-header">
  <%= link_to approvals_path, class: 'btn btn-default' do %>
    All Approvals
  <% end %>
  <%= link_to edit_approval_path(@approval), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show approval</h1>
</div>

<dl class="dl-horizontal">
  <dt>Agreement:</dt>
  <dd><%= @approval.agreement.document.name %></dd>

  <dt>Status:</dt>
  <dd><%= @approval.status %></dd>

  <dt>Created:</dt>
  <dd><%= @approval.created_at %></dd>

  <dt>Signature:</dt>
  <dd>
    <div class='well'>
      <p><%= image_tag @approval.signature if @approval.signature %></p>
      <p><%= @approval.agreement.document.name %> accepted on <%= @approval.signed_on %></p>
    </div>
  </dd>

</dl>
