


<div class="row">
  <div class="col-sm-6">
    <h1>Scope_documents</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_scope_document_path, class: 'btn btn-primary' do %>
    Add New Scope document
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Project name</th>
            <th>Document</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @scope_documents.each do |scope_document| %>
        <%= content_tag :tr, id: dom_id(scope_document), class: dom_class(scope_document) do %>
          

                      <td><%= scope_document.project_name %></td>
                      <td><%= scope_document.document %></td>
          
          
            <td><%= link_to 'Show', scope_document %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
