<h4 class="modal-title">Ask for approval for <%= @agreement.document.name %></h4>
<h4 class="modal-title">project name: <%= @project.name %></h4>


<%= form_with scope: :approval_request, url: agreement_approval_requests_path(@agreement)  do |f| %>
      <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
                <%= f.collection_select :recipient_id, 
                  @project.users, 
                  :id, 
                  :first_name, 
                  class: "form-control",
                  required: true, 
                  prompt: true %>
          </div>

  <!--  -->
      <%#= f.submit "Send Request", class: "btn btn-primary"%>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <%= f.submit "Send Request", class: "btn btn-primary"%><!-- <button type="button" class="btn btn-primary">Send Request</button> -->
      </div>
    </div>
        <% end -%>
