<div class="project-content">
	<div class="col-md-6">
		 <h3>Project Members</h3>
			<%= form_for [@project, ProjectUser.new]  do |f| %>
			 	<div class="input-group">
		            <span class="input-group-addon">
		            	<i class="fa fa-envelope"></i>
		            </span>
		            <%= f.text_field :email, 
		            	required: true, 
		            	class: "form-control",
		            	placeholder: "john@appleseed.com"
		            %>

		            <span class="input-group-btn">
		              <%= f.submit "invite to project", class: "btn btn-info"%>
		            </span>

		        </div>
			 	<!-- <div class="input-group"> -->
		            <!-- <span class="input-group-addon"> -->
		            	<!-- <i class="fa fa-user"></i> -->
		            <!-- </span> -->
		            <%#= f.text_field :first_name, 
		            	required: true, 
		            	class: "form-control",
		            	placeholder: "John Appleseed"
		            %>
		        <!-- </div> -->
			 	<!-- <div class="input-group"> -->
		            <!-- <span class="input-group-btn"> -->
		              <%#= f.submit "invite to project", class: "btn btn-info"%>
		            <!-- </span> -->


		        <!-- </div> -->

		<!--  -->
				<%#= f.submit "invite to project", class: "btn btn-info"%>
			<% end -%>
		<ul class="list-group project-members-list">
			 <%# @project.users.each do |user| %>
			 	<li class="list-group-item project-member">
			 		<%#= mail_to user.email %>
			 		<%#= "(#{user.first_name})" if user.first_name %>

			 	</li>
			 <%# end -%>			
			 <% @project.project_users.each do |project_user| %>
			 	<li class="list-group-item project-member">
			 		<%# role = @project.project_users.find_by(user: 2).role %>
			 		<%# if role == "owner"  %>
			 			<!-- 👑 <%#= role.to_s %> -->
			 		<%# end -%>
			 		<%= "👑" if project_user.role %>
			 		<%= mail_to project_user.user.email %>
			 		<%= "(#{project_user.user.first_name})" if project_user.user.first_name %>

			 	</li>
			 <% end -%>			
		</ul>
	</div>
	
	<div class="col-md-6">
		<h3>Agreements
			<%= link_to new_project_agreement_path(@project), class: 'btn btn-success btn-lg' do %>
				(+) New Agreement
			<% end %>

		</h3>
			<ul  class="list-group">
		<% @project.agreements.each do |agreement| %>
			<li  class="list-group-item">
				<!-- model button -->
				<!-- start modal -->
				<div class="box-body">
					<button type="button" 
						class="btn btn-default" 
						data-toggle="modal" 
						data-target="#modal-share-agreement-<%= agreement.id %>">
						Request Approval
					</button>
        		 </div>

				<%= render partial: 'share_agreement', locals: {agreement: agreement} %>
				<!-- finish modal -->
				<%= link_to agreement do %>
                  <%= agreement.document.name%>
                <% end %>

			</li>

		<% end -%>
	</ul>
	<p>
	</p>

</dl>

	</div>

</div>


