<div class="modal fade" id="modal-share-agreement-<%= agreement.id %>" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Ask for approval for <%= agreement.document.name %></h4>
      </div>
      <div class="modal-body">
<%= form_with scope: :approval_request,
    url: agreement_approval_requests_path(agreement)  do |f| %>
      <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
                <%= f.collection_select :recipient_id, 
                  @project.users, 
                  :id, 
                  :email, 
                  class: "form-control",
                  required: true, 
                  prompt: true %>
          </div>

  <!--  -->
      <%#= f.submit "Send Request", class: "btn btn-primary"%>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <%= f.submit "Send Request", class: "btn btn-primary"%><!-- <button type="button" class="btn btn-primary">Send Request</button> -->
      </div>
    </div>
        <% end -%>

    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>