<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
    All Projects
  <% end %>
  <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1><%= @project.name %></h1>
  	<p>
		<%= link_to new_user_invitation_path, class: 'btn btn-success btn-lg' do %>
			(+) New invitation
		<% end %>
	</p>

  new_user_invitation_path

</div>

<dl class="dl-horizontal">
  <dt >Agreements:</dt>
  <dd>
	<ul>
		<% @project.agreements.each do |agreement| %>
			<li>
				<%= link_to agreement do %>
                  <%= agreement.document.name%>
                <% end %>

			</li>

		<% end -%>
	</ul>
	<p>
		<%= link_to new_project_agreement_path(@project), class: 'btn btn-success btn-lg' do %>
			(+) New Agreement
		<% end %>
	</p>


  </dd>
</dl>
