<div class="page-header">
  <%= link_to agreements_path, class: 'btn btn-default' do %>
    All Agreements
  <% end %>
  <%= link_to edit_agreement_path(@agreement), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1><%= @agreement.document.name || "Show agreement" %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Provider rep name:</dt>
  <dd><%= @agreement.provider_rep_name %></dd>

  <dt>Client rep name:</dt>
  <dd><%= @agreement.client_rep_name %></dd>


  <dt>Author:</dt>
  <dd><%= @agreement.user.first_name %> 
      (<%= mail_to @agreement.user.email %>)</dd>

  <dt>Document:</dt>
  <dd><%= @agreement.document.name %></dd>

  <dt>Project:</dt>
  <dd><%= @agreement.project.name %></dd>


  
</dl>
<dl>
  <dt>
  </dt>
  <dd>
    <% if @agreement.deliverables.count > 0 %>
      <%= render "deliverables_table"  %> 
      
    <% else %>
      <%= link_to edit_agreement_path(@agreement, :anchor => "deliverables") do %>
        Add a Deliverable
      <% end %>

    <% end %>

    <% if @agreement.scheduled_payments.count > 0 %>
      <%= render "payment_schedule_table"  %> 
     
    <% else %>
      <table class="payments-table">
        <thead>
            <tr>
                <th >
                  Payment Schedule
                  <%= link_to edit_agreement_path(@agreement, 
                    :anchor => "scheduled-payments") do %>
                    (+)
                  <% end %>

                </th>
            </tr>
            <tr><td>No Payment scheduled</td></tr>
            
        </thead>
        <tbody>

            <tr>
            </tr>

        </tbody>
      </table>

    <% end %>

    <% if @agreement.approvals.count > 0 %>
      <%= render "approvals_table"  %> 
     
    <% else %>
      <table class="payments-table">
        <thead>
            <tr>
                <th >
                  Approvals
                  <%= link_to new_agreement_approval_path(@agreement) do %>
                    (+)
                  <% end %>

                </th>
            </tr>
            <tr><td>No Approvals listed</td></tr>
            
        </thead>
        <tbody>

            <tr>
            </tr>

        </tbody>
      </table>

    <% end %>  </dd>

  
</dl>


