<div class="page-header">
  <%= link_to agreements_path, class: 'btn btn-default' do %>
    All Agreements
  <% end %>
  <%= link_to edit_agreement_path(@agreement), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show agreement</h1>
</div>

<dl class="dl-horizontal">
  <dt>Provider rep name:</dt>
  <dd><%= @agreement.provider_rep_name %></dd>

  <dt>Provider signature:</dt>
  <dd><%= @agreement.provider_signature %></dd>

  <dt>Provider signed on:</dt>
  <dd><%= @agreement.provider_signed_on %></dd>

  <dt>Client rep name:</dt>
  <dd><%= @agreement.client_rep_name %></dd>

  <dt>Client rep signature:</dt>
  <dd><%= @agreement.client_rep_signature %></dd>

  <dt>Client signed on:</dt>
  <dd><%= @agreement.client_signed_on %></dd>

  <dt>Signature:</dt>
  <dd><%= @agreement.signature %></dd>

  <dt>Signed on:</dt>
  <dd><%= @agreement.signed_on %></dd>

  <dt>Author:</dt>
  <dd><%= @agreement.user.first_name %> 
      (<%= mail_to @agreement.user.email %>)</dd>

  <dt>Document:</dt>
  <dd><%= @agreement.document.name %></dd>

  <dt>Project:</dt>
  <dd><%= @agreement.project.name %></dd>

  <dt>
    Deliverables:         
    <%= link_to edit_agreement_path(@agreement, :anchor => "deliverables") do %>
      (+)
    <% end %>
</dt>
  <dd>
    <% if @agreement.deliverables.count > 0 %>
      <ul class="agreements">
        <% @agreement.deliverables.each do |deliverable| %>
          <li> <%= deliverable.description %> </li>
        <% end -%>
      </ul>
      
    <% else %>
    <%= link_to edit_agreement_path(@agreement, :anchor => "deliverables") do %>
      Add a Deliverable
    <% end %>

    <% end %>
  </dd>

  
</dl>
  <dt>
  </dt>
  <dd>
    <% if @agreement.scheduled_payments.count > 0 %>
      <table class="payments-table">
        <thead>
            <tr>
                <th colspan="2">
                  Payment Schedule
                  <%= link_to edit_agreement_path(@agreement, 
                    :anchor => "scheduled-payments") do %>
                    (+)
                  <% end %>

                </th>
            </tr>
        </thead>
        <tbody>
          <% @agreement.scheduled_payments.each do |scheduled_payment| %>

            <tr>
                <td><%= scheduled_payment.due_date.strftime("%d %b %Y") %></td>
                <td><%= number_to_currency(scheduled_payment.amount) %></td>
            </tr>
          <% end -%>

        </tbody>
      </table>
      
    <% else %>
      <table class="payments-table">
        <thead>
            <tr>
                <th >
                  Payment Schedule
                  <%= link_to edit_agreement_path(@agreement, 
                    :anchor => "scheduled-payments") do %>
                    (+)
                  <% end %>

                </th>
            </tr>
            <tr><td>No Payment scheduled</td></tr>
            
        </thead>
        <tbody>

            <tr>
            </tr>

        </tbody>
      </table>

    <% end %>
  </dd>

  
</dl>
